.result {
  display: none;
}

@media(max-width:767px){
  .stuff {
    color: blue;
  }
}
@media(min-width:768px){
  .stuff {
    color: red;
  }
}
@media(min-width:992px){
    .stuff {
    color: purple;
  }
}
@media(min-width:1200px){
    .stuff {
    color: orange;
  }
}


